<header id="header" class="row" data-hook>
  <!-- <figure id="logo" class="columns six" data-hook><%#= logo("/assets/store/logo.png") %></figure> -->
  <h2 class="columns six" style="margin-top:1.7%;"><a href="/" style="color:#404042;">CRAVE</a></h2>
  <%= render :partial => 'spree/shared/nav_bar' %>
  <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header>
