<style>
p {
 font-size:15px;
}

b {
font-size:16px;
font-weight:bold;
}

ol li {
font-size: 22px;
font-weight:bold;
}

ol.normal li {
font-size: 15px;
font-weight: inherit;
}
</style>

<div class="row">
  <h1>PRIVACY POLICY</h1>
<p><b>1. INFORMATION THAT WE COLLECT FROM YOU</b></p>
<p>1.1. When you visit the Website or use the Service to make an Order from a Chef, Restaurant or Caterer through the Website, you may be asked to provide information about yourself including your name, contact details (such as telephone and mobile numbers and e-mail address) and payment information (such as credit or debit card information). We may also collect information about your usage of the Website and Service and information about you from the messages and the e-mails or letters you send to us.</p>
<p>1.2. By accessing Crave information and/or the Website or Service using mobile digital routes such as (but not limited to) mobile, tablet or other devices/technology including mobile applications, then you should expect that our data collection and usage as set out in this Privacy Policy will apply in that context too.</p>

<p><b>2. USE OF YOUR INFORMATION</b></p>
<p>2.1. Your information will enable us to provide you with access to the relevant parts of the Website and to supply the Service. It will also enable us to bill you and enable us and/or a Restaurant, Chef or Caterer with whom you have placed an Order to contact you where necessary concerning the Service. For example, we and/or the Restaurant may use your information to provide you with status updates or other information regarding your Order by e-mail, telephone, mobile or mobile messaging (e.g. SMS, MMS etc.). We will also use and analyse the information we collect so that we can administer, support, improve and develop our business, for any other purpose whether statistical or analytical and to help us prevent fraud. Where appropriate, now and in the future you may have the ability to express your preferences around the use of your data as set out in this Privacy Policy and this may be exercised though your chosen method of using the Service, for example mobile, mobile applications or any representation of the Website. </p>

<p>2.2. We may use your information to contact you for your views on the Service and to notify you occasionally about important changes or developments to the Website or the Service. </p>

<p>2.3. Where you have indicated accordingly, you agree that we may use your information to let you know about our other products and services that may be of interest to you including services that may be the subject of direct marketing and we may contact you to do so by post, telephone, mobile messaging (e.g. SMS, MMS etc.) as well as by e-mail. </p>

<p>2.4. If you do not want us to use your data in this way or change your mind about being contacted in the future, please let us know by using the contact details set out in paragraph 7 below and/or amending your profile accordingly.</p>

<p><b>3. DISCLOSURE OF YOUR INFORMATION</b></p>
<p>3.1. The information you provide to us will be transferred to and stored on our servers which may be in or outside the European Economic Area, and may be accessed by or given to our staff working outside the United Kingdom and third parties who act for us for the purposes set out in this policy or for other purposes notified to you from time to time in this policy. Countries outside the European Economic Area do not always have strong data protection laws. </p>

<p>3.2. The third parties with whom we share your information may undertake various activities such as processing credit card payments and providing support services for us. In addition, we may need to provide your information to any Restaurants, Chefs or Caterers that you have placed an Order with so as to allow the Restaurant, Chef or Caterer to process and deliver your Order. By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy. </p>

<p>3.3. If our business enters into a joint venture with, purchases or is sold to or merged with another business entity, your information may be disclosed or transferred to the target company, our new business partners or owners or their advisors.</p> 
<p><b>4. SECURITY AND DATA RETENTION</b></p>
<p>4.1. Where you have chosen a password which allows you to access certain parts of the Website, you are responsible for keeping this password confidential. We advise you not to share your password with anyone. Unless we negligently disclose your password to a third party, we will not be liable for any unauthorised transactions entered into using your name and password.</p>
<p>4.3. The transmission of information via the internet is not completely secure. Although we will take steps to protect your information, we cannot guarantee the security of your data transmitted to the Website; any transmission is at your own risk. </p>

<p><b>5. ACCESSING AND UPDATING</b></p>
<p>5.1. You have the right to see the information we hold about you ("Access Request") and to ask us to make any changes to ensure that it is accurate and up to date. If you wish to do this, please contact us via email at info@eatcrave.co.uk. In the event that you make an Access Request, we reserve the right to charge a fee of ten pounds (£10.00) to meet our costs in providing you with details of the information we hold about you. </p>

<p><b>6. CHANGES TO OUR PRIVACY POLICY</b></p>
<p>6.1. Any changes to our Privacy Policy will be posted to the Website and, where appropriate, through e-mail notification.</p>
<p><b>7. CONTACT</b></p>
<p>7.1. All comments, queries and requests relating to our use of your information are welcomed and should be addressed to Ginormous Food Ltd, 272 Bath Street, Glasgow G2 4JR. </p>

<p><b>COOKIES</b>
<p>What are cookies?<br>
Cookies are small pieces of information which are issued to your computer when you visit a website and which store and sometimes track information about your use of the site. A number of cookies we use last only for the duration of your web session and expire when you close your browser. Other cookies are only used where you ask us to remember your login details for when you next return to the site and will last for a longer duration. </p>
<p>Why do we use cookies?<br>
The cookies used on eatcrave.co.uk are explained below. 
Necessary cookies allow you to use essential features of our site such as enabling you to order more easily. The essential features of our site require strictly necessary cookies so that we can remember what is in your shopping basket whilst you continue to order products from our site and/or navigate to different pages of the site during your browsing session. We are also able to identify you as being logged in to eatcrave.co.uk and to ensure that you are able to access the appropriate features on our site. Cookies may also be used to estimate the number of visitors to the website.
If you choose not to accept these cookies, you will be unable to use our site for placing orders.</p>
