<style>
p {
 font-size:15px;
}

b {
font-size:16px;
font-weight:bold;
}

ol li {
font-size: 22px;
font-weight:bold;
}

ol.normal li {
font-size: 15px;
font-weight: inherit;
}
</style>

<div class="row">
  <h1>TERMS & CONDITIONS</h1>
  <p>PLEASE READ THESE TERMS OF USE ("AGREEMENT" OR "TERMS OF USE") CAREFULLY BEFORE USING THE WEBSITE AND SERVICES OFFERED BY CRAVE, INC. ("CRAVE"). THIS AGREEMENT SETS FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE WEBSITE AT http://eatcrave.co.uk (THE "SITE") AND ALL SERVICES PROVIDED BY CRAVE ON THE SITE.</p>
  <p>By using the Site in any manner, including but not limited to visiting or browsing the Site, you (the "user" or "you") agree to be bound by this Agreement, including those additional terms and conditions and policies referenced herein and/or available by hyperlink. This Agreement applies to all users of the Site, including without limitation users who are vendors, customers, merchants, contributors of content, information and other materials or services on the Site.</p>
</div>
<div class="row">
<h2>INTRODUCTION</h2><br>

<b>WHO WE ARE </b>
<p>Crave is a company registered in Scotland with registered company number, whose registered office is at 272 Bath Street, Glasgow G2 4JR.
Service: Crave enables you to communicate your orders ("Orders") for products ("Products") to chefs, caterers or restaurants displayed on the Website (the "Service").</p>

<b>WEBSITE ACCESS AND TERMS</b>
<p><b>Website access:</b> You may access some areas of the Website without making an Order or registering your details with us. Most areas of the Website are open to everyone.
Acceptance of terms: By accessing any part of the Website, you indicate that you accept these Website Terms. If you do not accept these Website Terms, you should leave the Website immediately, and you will not be able to order any Products through the Website.</p>

<p><b>Revision of terms:</b> We may revise these Website Terms at any time. You should check the Website regularly to review the current Website Terms, because they are binding on you. You will be subject to the policies and terms and conditions in force at the time that you place an Order through us.
2.4. Responsibility: You are responsible for making all arrangements necessary for you to have access to the Website. You are also responsible for ensuring that all persons who access the Website through your Internet connection are aware of these Website Terms and that they comply with them.</p>

<ol>
<li>CRAVE is a Venue</li>
<p>Crave acts as a venue to allow users who comply with Crave's policies to offer, sell and buy certain meals or food items within a fixed-price format. Crave is not directly involved in the transaction between buyers and sellers. As a result, Crave has no control over the quality, safety, morality or legality of any aspect of the items listed, the truth or accuracy of the listings, the ability of sellers to sell items or the ability of buyers to pay for items. Crave cannot ensure that a buyer or seller will actually complete a transaction.</p>
<p>Consequently, Crave does not transfer legal ownership of items from the seller to the buyer.
Crave cannot guarantee the true identity, age, and nationality of a user. Crave encourages you to communicate directly with potential transaction partners through the tools available on the Site. You may also wish to consider using a third-party escrow service or services that provide additional user verification.
You agree that Crave is a venue and as such is not responsible or liable for any content, for example, data, text, information, usernames, graphics, images, photographs, profiles, audio, video, items, and links posted by you, other users, or outside parties on Crave. You use the Crave service at your own risk.</p>

<li>Membership Eligibility</li>
<p><b>Age:</b> Crave's services are available only to, and may only be used by, individuals who are 18 years and older who can form legally binding contracts under applicable law. You represent and warrant that you are at least 18 years old and that all registration information you submit is accurate and truthful. Crave May in its sole discretion, refuse to offer access to or use of the Site to any person or entity and change its eligibility criteria at any time. This provision is void where prohibited by law and the right to access the Site is revoked in such jurisdictions.</p>
<p>Individuals under the age of 18 must at all times use Craves's services only in conjunction with and under the supervision of a parent or legal guardian who is at least 18 years of age. In this all cases, the adult is the user and is responsible for any and all activities.</p>
<p><b>Compliance:</b> You agree to comply with all local laws regarding online conduct and are responsible for all applicable taxes. In addition, you must abide by Crave's policies as stated in Agreement and Crave's Privacy Policy. In addition, some services offered through the Site may be subject to additional terms and conditions promulgated by Crave from time to time; your use of such services is subject to those additional terms and conditions, which are incorporated into this Agreement by this reference.</p>

<p><b>Password:</b> Keep your password secure. You are fully responsible for all activity, liability and damage resulting from your failure to maintain password confidentiality. You agree to immediately notify Crave of any unauthorized use of your password or any breach of security. You also agree that Crave cannot and will not be liable for any loss or damage arising from your failure to keep your password secure. You agree not to provide your username and password information in combination to any other party other than Crave without Crave's express written permission.</p>

<p><b>Account Information:</b> You must keep your account information up-to-date and accurate at all times, including a valid email address. To sell items on Crave you must provide and maintain valid payment information such as valid credit card, debit card information or a valid PayPal account.</p>

<p><b>Account Transfer:</b> You may not transfer or sell your Crave account and User ID to another party. If you are registering as a business entity, you personally guarantee that you have the authority to bind the entity to this Agreement. Right to Refuse Service: Crave's services are not available to temporarily or indefinitely suspended Crave members. Crave reserves the right, in Crave's sole discretion, to cancel unconfirmed or inactive accounts. Crave reserves the right to refuse service to anyone, for any reason, at any time.</p>

<li>Fees and Services</li>

<p>Crave charges fees for listing an item for sale, as well as a percentage of the sale price when the item sells. When you list an item you have an opportunity to review and accept the fees that you will be charged. Crave may choose to change the fees for Crave's services, at which point Crave will give you notice of the change. Such changes are effective immediately. Crave may, at Crave's sole discretion, change some or all of Crave's services at any time. In the event Crave introduces a new service, the fees for that service are effective at the launch of the service. Unless otherwise stated, all fees are quoted in Pound Sterling (GBP).</p>

<p>You are responsible for paying all fees and applicable taxes associated with using Crave.</p>
<p><b>Fees and Termination:</b> If Crave terminates a listing or your account, if you close your account, or if the payment of your Crave fees cannot be completed for any reason, you remain obligated to pay Crave for all unpaid fees plus any penalties, if applicable. If the seller's account is not paid in full and becomes past due, the seller risks penalties such as the suspension of privileges and/or termination of the account and other collection mechanisms (including retaining collection agencies and legal counsel). If you have a question or wish to dispute a charge, contact Crave.</p>

<li>Resolution of Disputes and Release</li>
<p>In the event a dispute arises between you and Crave, please contact Crave.
Should you have a dispute with one or more users, or an outside party, you release Crave (and Crave's officers, directors, agents, subsidiaries, joint ventures and employees) from any and all claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes. Crave encourages users to report user-to-user disputes to your local law enforcement, postmaster general, or a certified mediation or arbitration entity, as applicable.</p>

<p>Crave, for the benefit of users, may try to help users resolve disputes. Crave does so in Crave's sole discretion, and Crave has no obligation to resolve disputes between users or between users and outside parties. To the extent that Crave attempts to resolve a dispute, Crave will do so in good faith based solely on Crave's policies. Crave will not make judgments regarding legal issues or claims.</p>
<li>Crave's Intellectual Property</li>
<p>Crave, and other Crave graphics, logos, designs, page headers, button icons, scripts, and service names are registered trademarks, trademarks or trade dress of Crave, Inc. in the U.K and/or other countries. Crave's trademarks and trade dress may not be used, including as part of trademarks and/or as part of domain names or email addresses, in connection with any product or service in any manner that is likely to cause confusion.</p>

<li>Access and Interference</li>

<p>Much of the information on Crave is updated on a real-time basis and is proprietary or is licensed to Crave by Crave's users or third parties. You agree that you will not use any robot, spider, scraper or other automated means to access Crave for any purpose without Crave's prior express written permission. Additionally, you agree that you will not:</p>

<ol class="normal">
<li>Take any action that imposes, or may impose, in Crave's sole discretion, an unreasonable or disproportionately large load on Crave's infrastructure</li>
<li>Copy, reproduce, modify, create derivative works from, distribute or publicly display any user Content (except for your Content) from the Site without the prior expressed written permission of Crave and the appropriate third party, as applicable</li>
<li>Interfere or attempt to interfere with the proper working of the Site or any activities conducted on the Site</li>
<li>Bypass Crave's robot exclusion headers or other measures Crave may use to prevent or restrict access to Crave</li>
</ol><br>

<li>Breach</li>

<p>Without limiting any other remedies, Crave may, without notice, and without refunding any fees, delay or immediately remove Content, warn Crave's community of a user's actions, issue a warning to a user, temporarily suspend a user, temporarily or indefinitely suspend a user's account privileges, terminate a user's account, prohibit access to the Site, and take technical and legal steps to keep a user off the Site and refuse to provide services to a user if any of the following apply:<p>

<p>Crave suspects (by information, investigation, conviction, settlement, insurance or escrow investigation, or otherwise) a user has breached this Agreement, the Privacy Policy, or other policy documents and community guidelines incorporated herein; Crave is unable to verify or authenticate any of your personal information or Content; Or Crave believes that a user is acting inconsistently with the letter or spirit of Crave's policies, has engaged in improper or fraudulent activity in connection with Crave or the actions may cause legal liability or financial loss to Crave's users or to Crave.</p>

<li>Privacy</li>

<p>Except as provided in Crave's Privacy Policy Crave will not sell or disclose your personal information (as defined in the Privacy Policy) to third parties without your explicit consent. Crave stores and processes Content on computers located in the United States that are protected by physical as well as technological security.</p>

<li>No Warranty</li>

<p>CRAVE, CRAVE'S SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES, AND CRAVE'S SUPPLIERS PROVIDE CRAVE'S WEB SITE AND SERVICES "AS IS" AND WITHOUT ANY WARRANTY OR CONDITION, EXPRESS, IMPLIED OR STATUTORY. CRAVE, CRAVE'S SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES AND CRAVE'S SUPPLIERS SPECIFICALLY DISCLAIM ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, PERFORMANCE, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN ADDITION, NO ADVICE OR INFORMATION (ORAL OR WRITTEN) OBTAINED BY YOU FROM CRAVE SHALL CREATE ANY WARRANTY. SOME STATES DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES, SO THE FOREGOING DISCLAIMER MAY NOT APPLY TO YOU. THIS WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS AND YOU MAY ALSO HAVE OTHER LEGAL RIGHTS THAT VARY FROM STATE TO STATE.</p>

<li>Liability Limit</li>

<p>IN NO EVENT SHALL CRAVE, AND (AS APPLICABLE) CRAVE'S SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES OR CRAVE'S SUPPLIERS BE LIABLE FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL, SPECIAL, COMPENSATORY, CONSEQUENTIAL, AND/OR INCIDENTAL, ARISING OUT OF OR RELATING TO THE CONDUCT OF YOU OR ANYONE ELSE IN CONNECTION WITH THE USE OF THE SITE, CRAVE'S SERVICES, OR THIS AGREEMENT, INCLUDING WITHOUT LIMITATION, LOST PROFITS, BODILY INJURY, EMOTIONAL DISTRESS, OR ANY SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES.</p>

<li>Indemnity</li>

<p>YOU AGREE TO INDEMNIFY AND HOLD CRAVE AND (AS APPLICABLE) CRAVE'S PARENT, SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, AGENTS, AND EMPLOYEES, HARMLESS FROM ANY CLAIM OR DEMAND, INCLUDING REASONABLE ATTORNEYS' FEES, MADE BY ANY THIRD PARTY DUE TO OR ARISING OUT OF YOUR BREACH OF THIS AGREEMENT OR THE DOCUMENTS IT INCORPORATES BY REFERENCE, OR YOUR VIOLATION OF ANY LAW OR THE RIGHTS OF A THIRD PARTY.</p>

<li>No Guarantee</li>

<p>Crave does not guarantee continuous, uninterrupted access to the Site, and operation of the Site may be interfered with by numerous factors outside Crave's control.</p>

<li>Legal Compliance Taxes</li>

<p>You shall comply with all applicable domestic and international laws, statutes, ordinances and regulations regarding your use of the Site and any Crave service and, if applicable, your listing, purchase, solicitation of offers to purchase, and sale of items. In addition, you shall be responsible for paying any and all taxes applicable to any purchases or sales of items you make on the Site (excluding any taxes on Crave's net income).</p>

<li>Severability</li>

<p>If any provision of this Agreement is held unenforceable, then such provision will be modified to reflect the parties' intention. All remaining provisions of this Agreement shall remain in full force and effect.</p>

<li>No Agency</li>

<p>You and Crave are independent contractors, and no agency, partnership, joint venture, employee- employer or franchiser-franchisee relationship is intended or created by this Agreement.</p>

<li>Crave Service</li>

<p>Crave reserves the right to modify or terminate the Crave service for any reason, without notice, at any time. Crave reserves the right to alter these Terms of Use or other Site policies at any time, so please review the policies frequently. If Crave makes a material change Crave will notify you here, by email, by means of a notice on our home page, or other places Crave deems appropriate. What constitutes a "material change" will be determined at Crave's sole discretion, in good faith, and using common sense and reasonable judgment.</p>

<li>Choice of Law</li>

<p>This Agreement shall in all respects be interpreted and construed with the Law of Scotland.</p>

<li>Survival</li>

<p>Sections 3 (Fees and Services, Fees and Termination), 6 (Content, License), 7 (Information Control), 8 (Meetings, Groups or User Fees), 9 (Resolution of Dispute and Release), 10 (Crave's Intellectual Property), 11 (Access and Interference), 12 (Breach), 13 (Privacy), 14 (No Warranty), 15 (Liability Limit), 16 (Indemnity), 17 (No Guaranty), 19 (Severability), 20 (No Agency), 22 (Choice of Law) shall survive any termination or expiration of this Agreement.</p>

<li>Notices</li>

<p>Except as explicitly stated otherwise, any notices shall be given by postal mail to Crave; Attn: Ginormous Food Ltd; 272 Bath Street; Glasgow, G2 4JR (in the case of Crave) or, in your case, to the email address you provide to Crave (either during the registration process or when your email address changes). Notice shall be deemed given 24 hours after email is sent, unless the sending party is notified that the email address is invalid. Alternatively, Crave may give you notice by certified mail, postage prepaid and return receipt requested, to the address provided to Crave. In such case, notice shall be deemed given three days after the date of mailing.<p>

<p>For issues with intellectual property, please contact us at info@eatcrave.co.uk</p>
</ol>
